@use "./../abstracts/" as *;
#Contact 
{
    background-image: url('../images_L10/images/contact-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
    z-index: 2;
    &::before 
    {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: radial-gradient(#68b703, #305d00);
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .container-fluid 
    {
         @include flex($fd: column);
        .title 
        {
            h2 
            {
                color: $whiteColor;
    
                font-size: 35px;
                
            }
            &::after 
            {
                background-color: $whiteColor;
            }

        }
        p 
        {
            color: $whiteColor;
        }
        height: 100%;
        .content 
        {
            width: 100%;

        }
        .row 
        {
            .part 
            {
            
                margin: auto;
                @include respond(350)
                {
                    max-width: 350px;
                }
                @include respond(650)
                {
                    max-width: 350px;
                }
                @include respond(1050)
                {
                    max-width: 450px;
                }
            }
            .part1 
            {
                @include flex($JC : flex-end);
                .item1 
                {
                    max-width: 550px;
                    width: 100%;
                    height: 100%;
                    .body 
                    {
                        padding: 22px;

                    }
                    form 
                    {
                        height: 100%;
                            input 
                            {
                                padding:10px;
                                font-size: 14px;
                                margin-bottom: 15px;
                                border-radius: 8px;
                            }
                        
                            textarea 
                            {
                                height: 120px;
                                resize: none;
                                font-size: 14px;

                            }
                            button.btn 
                            {
                                background-color: $secondColor;
                                border: none;
                                padding: 10px; 
                                border-radius: 10px;
                                font-size: 15px;
                            } 

                     }
                }
            }

            .part2 
            {
                .item1 
                {
                    background-color: $whiteColor;
                    max-width: 550px;
                    width: 100%;
                    height: 100%;
                    padding: 15px 25px;
                    border-radius: 5px;
                    .item 
                    {
                        @include flex($JC : flex-start);
                        column-gap: 15px;
                        p 
                        {
                            color: #000;
                        }
                        > i
                        {
                            font-size: 20px;
                            color: $secondColor;
                            @include flex();
                            transform: translateY(-50%);

                        }
                        .icons 
                        {
                            @include flex();
                            column-gap: 10px;
                            i 
                            {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                background-color: #3B5998;
                                @include flex();
                                font-size: 20px;
                                color: $whiteColor;
                                cursor: pointer;
                            }
                            a:nth-of-type(2) i
                            {
                                background-color: #C52661;
                            }
                            a:nth-of-type(3) i
                            {
                                background-color: #F70000;
                            }
                        }
                    }
                }
            }
        }
        .head 
        {
            @include flex();
            column-gap: 5px;
            @include respond(350) 
            {
                display: block;
            }
            .form-group 
            {
                width: 50%;

            }
            input 
            {
                width: 100%;
                @include respond(350)
                {
                    width: 100%;
                }
            }
        }
    }
}
#arrowTop 
{
    background-color: $firstColor;
    @include flex();
    width: fit-content;
    padding: 10px;
    font-weight: 500;
    color: $whiteColor;
    position: fixed;
    border-radius: 10px;
    top: 50%;
    right: 0;
    transform: translateX(100%);
    transition-duration: 0.5s;
    &.show 
    {
        transform: translateX(60%);
    }
    &:hover 
    {
        transform: translateX(0%);
    }
   
}
